/* Signup.css */
.signup {
    position: relative;
    text-align: center;
    padding: 20px;
    background-image: url('/public/LandingPageBG.jpg');
    background-size: cover; /*scales the image to cover the whole area */
    background-position: center; /*centers the image */
    background-repeat: no-repeat; /*prevents the image from repeating */
    background-color: rbga(255, 255, 255, 0.7); 
    height: 100vh; /*background cover the full viewport height */
    color: #333; /*text is readable */
}
.signup-container {
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container label {
    margin-bottom: 10px;
    text-align: left;
}

.signup-container input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.signup-container button {
    padding: 10px;
    cursor: pointer;
}

